extends layout

block content
  h1= title
  p Welcome to #{title}
   
    ul 
      a(href="/users") 
        li='Usuários'
        
      a(href="/basicinfo")  
        li='Informações Básicas'  
  
