body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color:white;
  text-decoration: none;
}

h1{
   color: white;
   font: 45px "Lucida Grande", Helvetica, Arial, sans-serif,bold;
}

